*{
  box-sizing:border-box;
}

body{
  margin:0;
  background: linear-gradient(180deg, #E1EDF6, #E4E2F8);
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar{
  background: linear-gradient(90deg, #ABC0F6, #C7D6F7);
}

.nav-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul{
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}



.hero{
  padding:80px 0;
  text-align: center;
 background: linear-gradient(180deg, #E4E2F8, #D5D9F2);
  margin-bottom: 40px;
}

.hero-h1{
  margin-bottom: 10px;
  text-align: center;
}

.product-list{
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card{
  background: #D5D9F2;
  padding: 16px;
  border-radius: 12px;
  width: 220px;
}

button{
  margin-top: 10px;
  padding: 8px;
  background: #C7D6F7;
  border: none;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  color: #ABC0F6;
}

.footer{
  text-align: center;
  padding: 20px;
   background: linear-gradient(180deg, #D5D9F2, #E4E2F8);
  margin-bottom: 40px;
}